################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Floyds-triangle/v15/Browse.VC.db
/Floydtriangle/.vs/Floydtriangle/v15/Browse.VC.db
/Floydtriangle/.vs/Floydtriangle/v15/Browse.VC.opendb
